@model IEnumerable<ProduitFamilleMVC_SQLServer.ViewModels.ProduitFamilleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProduitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilleNom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProduitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilleNom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProduitId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProduitId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProduitId })
            </td>
        </tr>
}
    </tbody>
</table>
